Repository ansible-collections/cisco.ios, pull requests merged in 2022-05, with the labels that each got.

#582 [vrf] update sanity fix
  changelogs/fragments/fix_sanity_issues.yaml
  plugins/modules/ios_vrf.py
Labels: mergeit

#573 [logging_global] fix parser for monitor and buffered config
  changelogs/fragments/logging_global_571.yaml
  plugins/module_utils/network/ios/rm_templates/logging_global.py
  tests/unit/modules/network/ios/test_ios_logging_global.py
Labels: mergeit, logging_global

#576 [acls] Handle ACL config parsing when match/matches are present
  changelogs/fragments/acl_550.yaml
  plugins/module_utils/network/ios/facts/acls/acls.py
  tests/unit/modules/network/ios/test_ios_acls.py
Labels: mergeit, acls

#574 [bgp_global] fix command generation for local_as attribute
  changelogs/fragments/bgp_global_569.yaml
  plugins/module_utils/network/ios/rm_templates/bgp_global.py
  tests/unit/modules/network/ios/test_ios_bgp_global.py
Labels: mergeit, bgp_global

#575 [snmp_server] update command formation of views and groups
  changelogs/fragments/snmp_server_view_group_fix.yaml
  plugins/module_utils/network/ios/config/snmp_server/snmp_server.py
  tests/unit/modules/network/ios/test_ios_snmp_server.py
Labels: mergeit, snmp_servers

#577 [ntp] fix to handle server attributes gracefully on no match
  changelogs/fragments/bug_fix_ntp.yaml
  plugins/modules/ios_ntp.py
Labels: mergeit

#581 GitHub actions run sanity and unit tests
  .github/workflows/test.yml
Labels: mergeit

#566 [interfaces] optimisation and bug fixes
  changelogs/fragments/ios_interfaces_bugfix.yaml
  docs/cisco.ios.ios_interfaces_module.rst
  plugins/module_utils/network/ios/argspec/interfaces/interfaces.py
  plugins/module_utils/network/ios/config/interfaces/interfaces.py
  plugins/module_utils/network/ios/facts/interfaces/interfaces.py
  plugins/module_utils/network/ios/rm_templates/interfaces.py
  plugins/modules/ios_interfaces.py
  tests/unit/modules/network/ios/test_ios_interfaces.py
Labels: mergeit, interfaces

#471 add vss nodes serial number collection
  changelogs/fragments/471-virtual_switch_system_detections.yaml
  plugins/module_utils/network/ios/facts/legacy/base.py
  tests/unit/modules/network/ios/fixtures/ios_facts_show_inventory
  tests/unit/modules/network/ios/fixtures/ios_facts_show_switch_virtual
Labels: mergeit

#585 [lag_interfaces] bug fixes and optimisation
  changelogs/fragments/lag_interfaces_bug.yaml
  docs/cisco.ios.ios_lag_interfaces_module.rst
  docs/cisco.ios.ios_linkagg_module.rst
  meta/runtime.yml
  plugins/module_utils/network/ios/argspec/lag_interfaces/lag_interfaces.py
  plugins/module_utils/network/ios/config/lag_interfaces/lag_interfaces.py
  plugins/module_utils/network/ios/facts/lag_interfaces/lag_interfaces.py
  plugins/module_utils/network/ios/rm_templates/lag_interfaces.py
  plugins/modules/ios_lag_interfaces.py
  plugins/modules/ios_linkagg.py
  tests/integration/targets/ios_lag_interfaces/tests/cli/_parsed.cfg
  tests/integration/targets/ios_lag_interfaces/tests/cli/deleted.yaml
  tests/integration/targets/ios_lag_interfaces/tests/cli/merged.yaml
  tests/integration/targets/ios_lag_interfaces/vars/main.yaml
  tests/sanity/ignore-2.9.txt
  tests/unit/modules/network/ios/test_ios_lag_interfaces.py
Labels: mergeit, lag_interfaces

#590 release prep 3.1.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/471-virtual_switch_system_detections.yaml
  changelogs/fragments/acl_550.yaml
  changelogs/fragments/bgp_global_569.yaml
  changelogs/fragments/bug_fix_ntp.yaml
  changelogs/fragments/fix_sanity_issues.yaml
  changelogs/fragments/ios_interfaces_bugfix.yaml
  changelogs/fragments/lag_interfaces_bug.yaml
  changelogs/fragments/logging_global_571.yaml
  changelogs/fragments/snmp_server_view_group_fix.yaml
Labels: mergeit
