Repository ansible-collections/cisco.ios, pull requests merged in 2023-06, with the labels that each got.

#834 release prep 4.6.0
  .github/workflows/push.yml
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/add_periodic_jobs_gha.yml
  changelogs/fragments/fix_intergration_tests.yml
  changelogs/fragments/healthcheck_1.yml
  changelogs/fragments/interfaces_staticorutes.yml
  changelogs/fragments/ios_facts_memorycalc.yaml
  changelogs/fragments/ios_interface_templates.yml
  changelogs/fragments/ios_l3_interfaces_doc_changes.yml
  changelogs/fragments/ios_service_changes.yml
  changelogs/fragments/vrf_lite_ospf_v2_v3.yml
  docs/cisco.ios.ios_service_module.rst
  galaxy.yml
Labels: skip-changelog

#827 ios_l3_interfaces account for secondary when comparing addresses
  changelogs/fragments/ios_l3_interfaces_secondary.yml
  plugins/module_utils/network/ios/config/l3_interfaces/l3_interfaces.py
  tests/unit/modules/network/ios/test_ios_l3_interfaces.py
Labels: bug

#842 [ospf_interfaces] bug fixes and optimization
  .pre-commit-config.yaml
  README.md
  changelogs/fragments/ospf_intf_fix.yml
  docs/__init__.py
  docs/cisco.ios.ios_facts_module.rst
  docs/cisco.ios.ios_ospf_interfaces_module.rst
  meta/__init__.py
  plugins/cache/__init__.py
  plugins/lookup/__init__.py
  plugins/module_utils/network/ios/argspec/ospf_interfaces/ospf_interfaces.py
  plugins/module_utils/network/ios/config/ospf_interfaces/ospf_interfaces.py
  plugins/module_utils/network/ios/facts/facts.py
  plugins/module_utils/network/ios/facts/lag_interfaces/lag_interfaces.py
  plugins/module_utils/network/ios/facts/ospf_interfaces/ospf_interfaces.py
  plugins/module_utils/network/ios/facts/snmp_server/snmp_server.py
  plugins/module_utils/network/ios/rm_templates/ospf_interfaces.py
  plugins/modules/ios_facts.py
  plugins/modules/ios_ospf_interfaces.py
  plugins/plugin_utils/__init__.py
  tests/__init__.py
  tests/integration/targets/ios_ospf_interfaces/tests/cli/_populate_config.yaml
  tests/integration/targets/ios_ospf_interfaces/tests/cli/deleted.yaml
  tests/integration/targets/ios_ospf_interfaces/tests/cli/merged.yaml
  tests/integration/targets/ios_ospf_interfaces/tests/cli/overridden.yaml
  tests/integration/targets/ios_ospf_interfaces/vars/main.yaml
  tests/unit/modules/network/ios/fixtures/ios_ospf_interfaces.cfg
  tests/unit/modules/network/ios/test_ios_ospf_interfaces.py
  tests/unit/modules/network/ios/test_ios_snmp_server.py
Labels: blocks_release, bug, ospf_interfaces

#852 prep release v4.6.1
  changelogs/fragments/update_galaxy.yml
  galaxy.yml
Labels: skip-changelog

#854 Prep IOS release v4.6.1
  changelogs/changelog.yaml
  changelogs/fragments/update_galaxy.yml
Labels: skip-changelog

#858 [major] Cleanup and Deprecation of older module and attributes
  .github/CODEOWNERS
  .github/workflows/ack.yml
  .github/workflows/codecoverage.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/token_refresh.yml
  README.md
  bindep.txt
  changelogs/fragments/depr_logging.yml
  docs/cisco.ios.ios_bgp_address_family_module.rst
  docs/cisco.ios.ios_logging_module.rst
  meta/runtime.yml
  plugins/module_utils/network/ios/argspec/bgp_address_family/bgp_address_family.py
  plugins/module_utils/network/ios/config/bgp_address_family/bgp_address_family.py
  plugins/module_utils/network/ios/config/static_routes/static_routes.py
  plugins/module_utils/network/ios/rm_templates/static_routes.py
  plugins/modules/ios_bgp_address_family.py
  plugins/modules/ios_logging.py
  requirements.txt
  test-requirements.txt
  tests/integration/targets/ios_logging/defaults/main.yaml
  tests/integration/targets/ios_logging/meta/main.yaml
  tests/integration/targets/ios_logging/tasks/cli.yaml
  tests/integration/targets/ios_logging/tasks/main.yaml
  tests/integration/targets/ios_logging/tests/cli/basic.yaml
  tests/integration/targets/ios_logging_global/tests/cli/deleted.yaml
  tests/sanity/ignore-2.9.txt
  tests/unit/modules/network/ios/test_ios_acl_interfaces.py
  tests/unit/modules/network/ios/test_ios_acls.py
  tests/unit/modules/network/ios/test_ios_bgp_address_family.py
  tests/unit/modules/network/ios/test_ios_bgp_global.py
  tests/unit/modules/network/ios/test_ios_hostname.py
  tests/unit/modules/network/ios/test_ios_interfaces.py
  tests/unit/modules/network/ios/test_ios_l2_interfaces.py
  tests/unit/modules/network/ios/test_ios_l3_interfaces.py
  tests/unit/modules/network/ios/test_ios_lacp_interfaces.py
  tests/unit/modules/network/ios/test_ios_lag_interfaces.py
  tests/unit/modules/network/ios/test_ios_logging.py
  tests/unit/modules/network/ios/test_ios_logging_global.py
  tests/unit/modules/network/ios/test_ios_ntp_global.py
  tests/unit/modules/network/ios/test_ios_ospf_interfaces.py
  tests/unit/modules/network/ios/test_ios_ospfv2.py
  tests/unit/modules/network/ios/test_ios_ospfv3.py
  tests/unit/modules/network/ios/test_ios_prefix_lists.py
  tests/unit/modules/network/ios/test_ios_route_maps.py
  tests/unit/modules/network/ios/test_ios_service.py
  tests/unit/modules/network/ios/test_ios_snmp_server.py
  tests/unit/modules/network/ios/test_ios_static_routes.py
  tests/unit/modules/network/ios/test_ios_user.py
  tests/unit/modules/network/ios/test_ios_vlans.py
Labels: blocks_release, major

#860 snmp logs check pr
  tests/integration/targets/ios_snmp_server/tests/cli/_populate_config.yaml
  tests/integration/targets/ios_snmp_server/tests/cli/_remove_config.yaml
Labels: skip-changelog

#816 [facts] [hardware] - add cpu utilization to facts
  changelogs/fragments/cpu_util.yml
  changelogs/fragments/depr_logging.yml
  plugins/module_utils/network/ios/facts/legacy/base.py
  tests/unit/modules/network/ios/fixtures/ios_facts_dir
  tests/unit/modules/network/ios/fixtures/ios_facts_show_processes_cpu
  tests/unit/modules/network/ios/test_ios_facts.py
Labels: bug

#864 SNMP user error fix
  changelogs/fragments/snmp_user_bug.yml
  plugins/module_utils/network/ios/facts/snmp_server/snmp_server.py
  plugins/terminal/ios.py
  tests/integration/targets/ios_snmp_server/tests/cli/_populate_config.yaml
  tests/integration/targets/ios_snmp_server/tests/cli/_remove_config.yaml
Labels: bug

#866 [ios_facts] correct reference to data and test fixes
  changelogs/fragments/facts_fix.yml
  plugins/module_utils/network/ios/facts/legacy/base.py
  tests/unit/modules/network/ios/fixtures/ios_facts_dir
  tests/unit/modules/network/ios/fixtures/ios_facts_show_processes_cpu
  tests/unit/modules/network/ios/test_ios_facts.py
Labels: bug

#870 Add `ansible_net_cpu_utilization` to `ios_facts` docs
  changelogs/fragments/cpu_util.yml
  docs/cisco.ios.ios_facts_module.rst
  plugins/modules/ios_facts.py
Labels: skip-changelog, documentation
