Repository ansible-collections/cisco.ios, pull requests merged in 2023-10, with the labels that each got.

#939 Fix ospfv2 integration test issues
  changelogs/fragments/fix_ospfv2_integration_test.yml
  tests/integration/targets/ios_ospfv2/tests/cli/_initial_vrf_setup.yaml
Labels: blocks_release

#940 ios_logging_global - fix configuration order to configure discriminator before buffer
  changelogs/fragments/logging_global_order.yaml
  plugins/module_utils/network/ios/config/logging_global/logging_global.py
Labels: blocks_release, bug

#933 [bgp_address_family] fix remote_as
  changelogs/fragments/bgp_add_fam_route_maps.yaml
  docs/cisco.ios.ios_bgp_address_family_module.rst
  plugins/module_utils/network/ios/argspec/bgp_address_family/bgp_address_family.py
  plugins/module_utils/network/ios/config/bgp_address_family/bgp_address_family.py
  plugins/modules/ios_bgp_address_family.py
  tests/unit/modules/network/ios/test_ios_bgp_address_family.py
Labels: blocks_release, bug, bgp_address_family

#938 prep release 5.1.0
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/bgp_add_fam_route_maps.yaml
  changelogs/fragments/bgp_address_family_bug.yml
  changelogs/fragments/bug_ios_service-private_config_encryption.yml
  changelogs/fragments/codecov_pr.yml
  changelogs/fragments/fix_ospfv2_integration_test.yml
  changelogs/fragments/fix_prefix_list_docs.yaml
  changelogs/fragments/ios_acls.yaml
  changelogs/fragments/ios_acls_fix.yaml
  changelogs/fragments/ios_snmp_user.yml
  changelogs/fragments/logging_global_order.yaml
  changelogs/fragments/pep8_bugfix.yml
  changelogs/fragments/prefix_list_fix.yaml
  changelogs/fragments/rework_ospfv2.yml
  changelogs/fragments/stderr_re_fix.yaml
  changelogs/fragments/update_ospf_docs.yaml
  galaxy.yml
  meta/runtime.yml
Labels: skip-changelog

#828 ios_snmp_server: Update the module
  changelogs/fragments/ios_snmp_server_changes.yml
  docs/cisco.ios.ios_snmp_server_module.rst
  plugins/module_utils/network/ios/argspec/snmp_server/snmp_server.py
  plugins/module_utils/network/ios/config/snmp_server/snmp_server.py
  plugins/module_utils/network/ios/facts/snmp_server/snmp_server.py
  plugins/module_utils/network/ios/rm_templates/snmp_server.py
  plugins/modules/ios_snmp_server.py
  tests/unit/modules/network/ios/test_ios_snmp_server.py
Labels: bug, snmp_servers
