Repository ansible-collections/cisco.ios, pull requests merged in 2024-06, with the labels that each got.

#1059 Trivial Update CHANGELOG.rst
  CHANGELOG.rst
Labels: skip-changelog

#1055 Add `vrf_global` resource module
  README.md
  changelogs/fragments/1055_add_vrf_global_module.yaml
  docs/cisco.ios.ios_vrf_global_module.rst
  meta/runtime.yml
  plugins/action/vrf_global.py
  plugins/module_utils/network/ios/argspec/vrf_global/__init__.py
  plugins/module_utils/network/ios/argspec/vrf_global/vrf_global.py
  plugins/module_utils/network/ios/config/vrf_global/__init__.py
  plugins/module_utils/network/ios/config/vrf_global/vrf_global.py
  plugins/module_utils/network/ios/facts/facts.py
  plugins/module_utils/network/ios/facts/vrf_global/__init__.py
  plugins/module_utils/network/ios/facts/vrf_global/vrf_global.py
  plugins/module_utils/network/ios/rm_templates/vrf_global.py
  plugins/modules/ios_vrf_global.py
  plugins/test/__init__.py
  tests/integration/targets/ios_vrf_global/defaults/main.yaml
  tests/integration/targets/ios_vrf_global/meta/main.yaml
  tests/integration/targets/ios_vrf_global/tasks/cli.yaml
  tests/integration/targets/ios_vrf_global/tasks/main.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/_parsed.cfg
  tests/integration/targets/ios_vrf_global/tests/cli/_populate_config.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/_remove_config.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/deleted.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/empty_config.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/gathered.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/merged.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/overridden.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/parsed.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/purged.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/rendered.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/replaced.yaml
  tests/integration/targets/ios_vrf_global/tests/cli/rtt.yaml
  tests/integration/targets/ios_vrf_global/vars/main.yaml
  tests/unit/modules/network/ios/test_ios_vrf_global.py
Labels: feature

#1087 Update tox-ansible.ini
  tox-ansible.ini
Labels: skip-changelog

#1086 revert changelog to pre v8.0.0 to make changes via antsibull-changelog consistent
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/l2_interfaces_multiline_trunk.yml
Labels: blocks_release, skip-changelog
