Repository ansible-collections/cisco.ios, pull requests merged in 2025-01, with the labels that each got.

#1150 ADD integration workflow for ios
  .github/workflows/integration-test.yml
  tests/integration/__init__.py
  tests/integration/labs/single.yaml
  tests/integration/test_integration.py
Labels: skip-changelog

#1152 Fixes facts,vrf_interfaces and fixes logic for route maps acls
  changelogs/fragments/fix_acls_tests.yaml
  plugins/module_utils/network/ios/config/route_maps/route_maps.py
  tests/integration/targets/ios_facts/tests/cli/all_facts.yaml
  tests/integration/targets/ios_vrf_interfaces/tests/common/_populate_config.yaml
  tests/integration/targets/ios_vrf_interfaces/tests/common/_remove_config.yaml
  tests/integration/targets/ios_vrf_interfaces/tests/common/merged.yaml
  tests/integration/targets/ios_vrf_interfaces/tests/common/rtt.yaml
  tests/integration/targets/ios_vrf_interfaces/vars/main.yaml
Labels: safe to test

#1151 Fix vlans context gathered operation
  changelogs/fragments/ana_602_fix_vlan_context_gathering.yaml
  plugins/module_utils/network/ios/facts/vlans/vlans.py
  tests/unit/modules/network/ios/test_ios_vlans.py
Labels: vlans, safe to test

#1154 fix handling of FourHundredGigE, and more
  changelogs/fragments/add_extra_interfaces.yaml
  plugins/module_utils/network/ios/utils/utils.py
  tests/unit/modules/network/ios/test_ios_interfaces.py
Labels: safe to test
